/*first section*/
.intro {
    background: url('/assets/img/agency4-services-header.jpg') no-repeat center;
    background-size: cover;
    height: 550px;
    position: relative;
    display: flex;
    align-items: center;
    z-index: -1;
}
.intro > .left {
    width: 70%;
    margin: 0 auto;
    height: fit-content;
}
.intro > .left > .subtitle{
    margin-top: 20px;
    line-height: 20px;
}
/*second and forth section*/

.holder {
    padding: 40px 160px;
}
.holder > section{
    display: grid;
    align-items: center;
    gap: 150px;
    grid-template-columns: 450px 1fr;
}

/*third section*/
.holder > .optim-section {
    grid-template-columns: 1fr 450px;
} 
/*forth section is same with second section*/


/*fifth section*/
.brand-marketing {
    background-color: #f5f5f8;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 70px 0;
    height: fit-content;
}
.brand-marketing > .top{
    text-align: center;
    color: #0c117b;
}
.brand-marketing > .brand-marketing-pictures{
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
}
.brand-marketing > .brand-marketing-pictures > .column {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.brand-marketing > .brand-marketing-pictures > .column > img {
    filter: grayscale(1);
    transition: all 0.2s;
}
.brand-marketing > .brand-marketing-pictures > .column:hover > img {
    filter: grayscale(0);
    background-color: #ebe9e9;
}


/* i imported the styles of sign up section into the head tag of html page */

/* i imported footer's styles into the head tag in html page */


/*responsive*/
/* the responsive codes of header,footer,sign up section are in their own css file.*/

@media screen and (max-width: 1200px){
    .holder{
        padding: 0 80px;
    }
    .holder > section {
        gap: 60px;
        margin: 20px 0;
    }
    .brand-marketing > .brand-marketing-pictures{
        gap: 50px;
    }
}
@media screen and (max-width: 920px){
    .holder > section {
        grid-template-columns: 300px 1fr;
    }    
    .holder > .optim-section {
        grid-template-columns: 1fr 300px;
    }
}
@media screen and (max-width: 850px) {
    .brand-marketing > .brand-marketing-pictures {
        display: grid;
        gap: 30px;
        grid-template-columns: 150px 150px;
        grid-auto-rows: 70px 70px;
    }
    .brand-marketing > .brand-marketing-pictures > .column {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:730px) {
    .holder > section {
        display: grid;
        gap: 30px;
        justify-content: center;
        grid-template-columns: 300px;
        margin-top: 50px;
    }
    .holder > .optim-section {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        margin: 50px auto 0 auto;
        width: 300px;
    }
}